@import "tailwindcss";
@plugin "daisyui";


/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #2563eb;      /* strong blue */
  --color-secondary: #1e3a8a;    /* deep indigo */
  --color-accent: #f59e0b;       /* amber for highlights */
  --color-neutral: #0f172a;      /* text / navbar */
  --color-base-100: #f9fafb;     /* main background */
  --color-base-200: #eff6ff;
  --color-base-300: #e5e7eb;
  --color-base-400: #fCfCfC;

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;

  --app-bg: linear-gradient(80deg, #E0F2FE 0%, #FFFFFF 45%, #CFFAFE 100%);
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #60a5fa;      /* lighter blue for dark bg */
  --color-secondary: #1d4ed8;
  --color-accent: #fbbf24;
  --color-neutral: #0b1120;
  --color-base-100: #020617;     /* dark background */
  --color-base-200: #0f172a;
  --color-base-300: #1e293b;
  --color-base-400: #000000;

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #f97373;

  --app-bg: linear-gradient(80deg, #020617 0%, #0F172A 40%, #1E293B 100%);
}



.title-font {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

* {
    font-family: "Cabin", sans-serif;
}


  a.active {
  background-color: white;
  font-weight: 700;
  color: #000;
  padding: 4px 12px;
  border-radius: 48px;
}